<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>3029922432-clkmk4e69gd14jo6g6gg47ai6fopmu2j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.3029922432-clkmk4e69gd14jo6g6gg47ai6fopmu2j</string>
	<key>API_KEY</key>
	<string>AIzaSyAvt_3yFN_7uGWWdf5Sv38p4XdTfHJy_OY</string>
	<key>GCM_SENDER_ID</key>
	<string>3029922432</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ziddan.FlashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-new-14c2c</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-new-14c2c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:3029922432:ios:9db739a4579e7a85766c65</string>
</dict>
</plist>